@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  background-color: wheat;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.image{
  margin-bottom: 100px;
}
.responsive{
  max-width:100%;
   max-height:100%;
}

.img{
  width: 500px;
  height: 150px;
  position: absolute;
  top: -2%;
  left: 50%; 
  transform: translate(-50%, 0%);
}

.wrapper{
  display: flex;
  flex-direction: row;
  
  
}

h6{
  font-weight: bold;
}

.item1{
  flex:1;
}

.item1 img{
  display: flex;
}

.item2{
  flex:2;
}

.item2_inner p{
  font-size: 13px;
}
.wrapper2{
  width: 90%;
  margin-left: 40px;

}
.para{
  font-size: 11px;
  margin: 0 auto;
  text-align: center;
}

/* .machine {
  margin: 0 100px;
} */
/* .machine img{
  width: 100%;
} */

.hr{
  border-top: 2px solid red;
}

.h6{
  text-align: center;
}
.operation{
  font-size: small;
  text-align: center;
}

span{
  color:red;
}

.footer{
  display: flex;
  width: auto;
  height:auto;
  background-color: rgb(238, 32, 32);
  color: white;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  
}


@media only screen and (max-width: 450px ) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .one{
    margin-bottom:10px;
  }
  .two  {
    margin-bottom:10px;
  }
  .three{
    margin-bottom:10px;
  }


  .wrapper2{
    margin-left: 0;
  }
}
  
@media only screen and (max-width: 560px){
  .item1 img{
    margin-top:40px;
    height: auto;
  } 

} 
